@model IEnumerable<AppProject.Models.Categories>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script>
    </script>
</head>

<ul class="nav PrimaryNavigation">
    @foreach (var item in Model)
    {
        <li class="Department MegaNavEnabled First">
            <a onclick="GetSub()" class="DepartmentLink" data-toggle="dropdown" href="#">
                <h4><span id="1">@item.Name</span></h4>
            </a>

        </li>
    }
</ul>



    @*<h2>Index</h2>

            <ul class="Component">
            @foreach (var item in Model)
            {
                <li class="ComponentItem"><div class="Text"><a id="1" asp-action="Index" asp-controller="Productes">@item.SubName</a></div></li>
            }
        </ul>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@
